
.metalWeightContainerLarge {
    width: 100%; 
    text-align: center; 
    background-color: #5A676F;
}

.metalWeightGroupLarge div {
    width: 33.33%;
    float: left;
    height: 100%;
    border-width: 4px 3px 3px 3px;
    border-style: solid;
    border-color: #5A676F;
}

.btn-default.active {
    background-color: #848F95;
    color: white;
}

.btn-default {
    color: #87949C;    
}

.zoomgroup div {
    width: calc(20% - 4%);
    border-radius: 50px;
    float: left;
    height: 27px;
    line-height: 23px;
    /*height: 32px;
    line-height: 30px;*/
    margin-top: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #848F95;
    margin-left: 2%;
    margin-right: 2%;
}

.weightGroup2 div {
    width: calc(33% - 4%);
    border-radius: 50px;
    float: left;
    height: 27px;
    /*height: 32px;
    line-height: 27px;*/
    margin-top: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #848F95;
    margin-left: 2%;
    margin-right: 2%;
    text-align:center; 
}

.settingsGroup div {
    width: 40%;
    margin-left: calc(50% - 20%);
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #848F95;
    text-align: center;
}